<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>道路运输行业现场稽查系统</title>

		<include file="Public:common" />

		<link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/search.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/aduit.css"/>
		
		<script src="__JS__/layer/layer.js"></script>

		<script type="text/javascript" src="http://101.200.176.10/lib/easyui/jquery.easyui.min.js"></script>

		<link rel="stylesheet" type="text/css" href="__CSS__/query.css"/>
		<script src="__JS__/chuan/easyui/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
<style type="text/css">
.info{
	width: 600px;
	margin:20px auto;
}
.info tr{

	height: 35px;
}
.td-left{
	border-right: 1px solid #CDCDCD;
}
.font-tr{
	width: 300px;
}
.sub-title{
	text-indent: 22px;
	color: #fff;
	background-color: #41C3D6;
}
 input[type="text"]{
	width: 99%;
    height: 100%;
}
.laydate-icon.input{
	height: 27px;
    width: 280px;
    line-height: 27px;
}
</style>
	</head>
	<body>

		
		<form id="form1" method="post" enctype="multipart/form-data">
		<div class="center">
				<div class="info">
					
					<table border="1" cellspacing="0" cellpadding="">
					<tr>
						<td align="left" colspan="2" class="sub-title">
								入库信息
						</td>
					</tr>

					<!-- <tr >
						<td align="center" class="font-tr td-left" >稽查编号：</td>
						<td align="center" class="font-tr" >{$R.JCBH}</td>
					</tr> -->
					<tr class="color">
						<td align="center" class="font-tr td-left" >车牌号码：</td>
						<td align="center" class="font-tr" >
							<input type="text" name="CPH" id="CPH" value="" />
						</td>
					</tr>
					<tr>
						<td align="center" class="font-tr td-left" >入库时间：</td>
						<td align="center" class="font-tr" >
							<input placeholder="请输入日期" name="startTime" class="easyui-datetimebox" style="height: 25px;width: 100%;position: relative;border: 1px solid #41C3D6;border-radius: 0;" id="demo" value="{$startDate}">
						</td>
					</tr>
					<!-- <tr>
						<td align="center" class="font-tr td-left" >所属单位（车辆）：</td>
						<td align="center" class="font-tr" >{$R.vcomp}</td>
					</tr> -->
					<tr style="height: 100px;">
						<td align="center" class="font-tr td-left" >入库说明：</td>
						<td align="center" class="font-tr" >
							<textarea name="RKSM" style="width: 98%;height: 100%;"></textarea>
						</td>
					</tr>
					<tr class="color">
						<td align="center" class="font-tr td-left" >可疑库类型：</td>
						<td align="center" class="font-tr" >
							<input type="text" name="KYK_LX" id="KYK_LX" value="" />
						</td>
					</tr>
					
					<tr class="color">
						<td align="center" class="font-tr td-left" >可疑项节点代码列表：</td>
						<td align="center" class="font-tr" >
							<input type="text" name="KYX_BMS" id="KYX_BMS" value="" />
						</td>
					</tr>
					<tr>
						<td align="center" class="font-tr td-left" >案底库的违法行为：</td>
						<td align="center" class="font-tr" >
							<input type="text" name="ADK_WFXW" id="ADK_WFXW" value="" />
						</td>
					</tr>
					<tr class="color">
						<td align="center" class="font-tr td-left" >操作人员：</td>
						<td align="center" class="font-tr" >
							<input type="text" name="CZY" id="CZY" value="" />
						</td>
					</tr>
				</table>

		</div>
	</div>
	</form>


		<script type="text/javascript">
			function submit(_page,jq){
				
				$('#form1').form('submit',{
					url:"__APP__/Home/SuspiciousVehicle/ajaxaddSuspiciousVehicle",
					onSubmit: function(){
						var CPH = $('#CPH').val();
						var KYK_LX = $('#KYK_LX').val();
						var KYX_BMS = $('#KYX_BMS').val();
						var ADK_WFXW = $('#ADK_WFXW').val();
						var CZY = $('#CZY').val();
						var vNameReg = /^[\u4e00-\u9fa5]{1}[A-Z]{1}[A-Z_0-9]{5}$/;
						if(CPH != ''){
							if (!vNameReg.test(CPH)) {
								layer.alert('请填写正确的车牌号码', {
									skin: 'layui-layer-molv' //样式类名
									,closeBtn: 0
								} )
								return false;
							}
						}else{
							layer.alert('请填写车牌号码', {
									skin: 'layui-layer-molv' //样式类名
									,closeBtn: 0
								} )
								return false;
						}
						if(KYK_LX == ''){
							layer.alert('请填写可疑库类型', {
									skin: 'layui-layer-molv' //样式类名
									,closeBtn: 0
								} )
								return false;
						}
						if(KYX_BMS == ''){
							layer.alert('请填写可疑项节点代码列表', {
									skin: 'layui-layer-molv' //样式类名
									,closeBtn: 0
								} )
								return false;
						}
						if(ADK_WFXW == ''){
							layer.alert('请填写案底库的违法行为', {
									skin: 'layui-layer-molv' //样式类名
									,closeBtn: 0
								} )
								return false;
						}
						if(CZY == ''){
							layer.alert('请填写操作人员', {
									skin: 'layui-layer-molv' //样式类名
									,closeBtn: 0
								} )
								return false;
						}
						var isValid = $('#form1').form('validate');
						return isValid;
					},
				    success: function(data){
				    		_page.closeWin();
					    	eval("var json ="+data);
					    	console.log(json);
					    	if(json.error == 0){
								parent.window.showDiv('恭喜！'+json.msg,1);
					    		//_page.destroyWin();
					    	}else{
					    		
								parent.window.showDiv('错误！'+json.msg,2);
					    	}
			    		}
				});
			}

		</script>
		
	</body>
</html>




