<html>
 <!--<meta http-equiv="Content" content="text/html" charset="utf-8"/>-->
 <head> 
  <title>道路运输行业现场稽查系统</title>
  <!-- <meta http-equiv="Content" content="text/html" charset="utf-8"/>--> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	 <meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">

	<!--  <script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script> -->
 <script src="__JS__/common.js" type="text/javascript"></script>
	 <script src="__JS__/jquery.min-8.3.js" type="text/javascript"></script>
	 <script src="__JS__/layer/layer.js"></script>
	 <link rel="stylesheet" type="text/css" href="__CSS__/login.css"/>
  <script type="text/javascript">
   function change_code(obj){
  		$("#code").attr("src","/verify.php?"+Math.random());
   		return false;
   }
 </script> 

 </head> 
 <body> 



		<div class="bagrand"></div>

			<div class="logo"><img src="__IMG__/login_logo.png"></div>
			
			<div class="form">
				<p>用户登录</p>
				<div class="name"><input type="text" name="mobile" id="name" value="{$admin.name}" style="margin-top: 12px"  placeholder="请输入用户名"/></div>
				<div class="pwd"><input type="password" name="pwd" id="pwd" value="{$admin.pwds}" style="margin-top: 12px"  placeholder="请输入密码"/></div>
				<div class="check"><input type="checkbox" name="check" id="check" value="" /><div class="re" id="re-check">记住密码</div><!-- <div class="fo">忘记密码？</div> --></div>
				<div class="submit" title="点击登录" id="submit_btn" style="cursor: pointer">登录</div>
			</div>
			
		


  <script type="text/javascript">
	$(document).ready(function(){
		$("#re-check").toggle(function(){
			$("#check").attr('checked',true);
		},function(){
			$("#check").attr('checked',false);
		});
		$("#submit_btn").bind("click",function(){

			var mobile = $("input[name='mobile']").val();
			var pwd = $("input[name='pwd']").val();

			var ss = "";
			if($("#check").attr('checked')){
				ss = "on";
			}else{
				ss = "";
			}

			if(mobile ==''|| pwd == ''){
				layer.alert('账号密码不能为空', {
					skin: 'layui-layer-molv' //样式类名
					,closeBtn: 0
				});
			}else{
				$.post("{:U('Login/ajaxLogin')}",{mobile:mobile,pwd:pwd,ss:ss},function(data){
					//console.log(data);
					if(data.error==0){
						window.location.href="__ROOT__/index.php/Home/Message/message_ac";
					}else{
						layer.alert(data.errormsg, {
							skin: 'layui-layer-molv' //样式类名
							,closeBtn: 0
						});
					}
				});
			}

		});
	});
</script> 		
 </body>
</html>