<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
		<title>道路运输行业现场稽查系统</title>

		<include file="Public:common" />
		<!--  -->

		<link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/search.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/aduit.css"/>
		<script src="__JS__/layer/layer.js"></script>
		<script type="text/javascript" src="__JS__/laydate.js"></script>
		<link rel="stylesheet" type="text/css" href="__CSS__/query.css"/>


	</head>
	<body>

		<include file="Public:head" />

		<div class="center">
			<div class="center_left">
				<dl>
					<!--<a href="{:U('Home/Admin/Organization')}"><dt id="user" class="dldt " >组织管理</dt></a>
					--><a href="{:U('Home/Admin/Admin_UserList')}"><dt class="dldt ">用户管理</dt></a>
					<a href="{:U('Home/Admin/Admin_sim')}"><dt class="dldt border">SIM卡管理</dt></a>
					<a href="{:U('Home/Admin/Admin_pda')}"><dt class="dldt">终端管理</dt></a>
					<a href="{:U('Home/Admin/roleStyle')}"><dt class="dldt ">角色管理</dt></a>
					<a href="{:U('Home/Admin/Powerful')}"><dt class="dldt">功能管理</dt></a>
					<a href="{:U('Home/Admin/loginAccess')}"><dt class="dldt">登录访问统计</dt></a>
				</dl>
			</div>
			<div class="center_right">
				
				<form action="##" method="post">	
				<div class="title_1 c-title">检索项</div>

				<div class="search_from msg-search" style="margin-top: 10px;height: 100%; width: 100%;">
					<dl style="position: relative">
						<dd>
							<div class="left">用户姓名</div>
							<div class="right">
								<input type="text" style="height:25px;" class="input" name="name" id="name" value="" />
							</div>
							<div class="clear"></div>
						</dd>
						<dd>
							<div class="left">执法证号</div>
							<div class="right">
								<input type="text" style="height:25px;" class="input" name="zfzh" id="zfzh" value="" />
							</div>
							<div class="clear"></div>
						</dd>
						<dd>
							<div class="left">大队</div>
							<div class="right">
								<input type="text" readonly style="height: 25px;" class="input xxl" name="dd" id="dd" value="--请选择--" />
								<ul class="dadui" id="dadui"  style="width:60%;display:none;">
									<li>全部</li>
									<volist name="compName" id="v">
										<li value="{$v.ZFDWMC}">{$v.ZFDWMC}</li>
									</volist>
								</ul>
							</div>
							<div class="clear"></div>
						</dd>
						<dd >
							<div class="left">中队</div>
							<div class="right">
								<input type="text" readonly style="height: 25px; " class="input xxl" name="zd" id="zd" value="--请选择--" />
								<ul class="dadui"  id="zhongdui" style="display:none;"></ul>
							</div>
							<div class="clear"></div>
						</dd>
						<dd >
							<div class="left">车组</div>
							<div class="right">
								<input type="text" readonly style="height: 25px;" class="input xxl" name="cz" id="cz" value="--请选择--" />
								<ul class="dadui" id="chezu" style="display:none;"></ul>
							</div>
							<div class="clear"></div>

						</dd>
						<dd>
							<div class="left">SIM卡号</div>
							<div class="right">
								<input type="text" style="height:25px;" class="input" name="sim" id="sim" value="" />
							</div>
							<div class="clear"></div>
						</dd>
						<div class="submit">			
							<input type="button" name="" id="search_btn" value="查询" />               
						</div>
						<div class="clear"></div>
					</dl>
					<div class="clear"></div>
				</div>
				<!-- <div class="submit">			
					<input type="button" name="" id="search_btn" value="查询" />                           
				</div> -->
				</form>

				<!-- =============结果====================== -->
				<div style="margin-top:30px;margin-bottom:110px;">
						<div class="center_right_top table-responsive">
							<span>查询结果</span>
							<!-- <div class="Add">添加</div>
							<div class="delAll">删除选择项</div> -->
							<div class="clear"></div>
						</div>
						<div class="center_right_botton">
							<input type="hidden" id="nums" name="" value="">
							<!--startprint6-->
							<table id="table" data-height="268" class="table table-striped table-bordered table-hover">
							    <thead>
							    <tr>
							        <!-- <th data-field="state" data-checkbox="true"></th> -->
							        <th data-field="NAME" data-align="center" data-sortable="true"><div style="width:70px">用户姓名</div></th>
							        <th data-field="ZFZH" data-align="center" data-sortable="true"><div style="width:60px">执法证号</div></th>
							       	<th data-field="ZFDWMC" data-align="center" data-sortable="true"><div style="width:250px">大队</div></th>
							        <th data-field="SSZD" data-align="center" data-sortable="true"><div style="width:100px">中队</div></th>
							        <th data-field="SSCZ" data-align="center" data-sortable="true"><div style="width:100px">车组</div></th>
							        <th data-field="SIM_CODE" data-align="center" data-sortable="true"><div style="width:150px">SIM卡号</div></th>
							        <th data-field="ZHZT" data-formatter="actionFormatter" data-align="center" data-events="actionEvents"><div style="width:100px">操作</div></th>
							    </tr>
							    </thead>
							</table>
							<!--endprint6-->
						
						</div>
							
						<!-- <div class="return">
							<input type="submit" onclick="preview(6)" name="" id="" value="打印" /> 
						</div> -->
						<!-- <div class="return" style="margin-right: 15px">
							<a href="javascript:ExportCsv();"><input type="submit" name="" id="" value="导出" /> </a>
						</div> -->
					</div>					
				</div>
				<!-- =============结果====================== -->
				<div style="clear:both;"></div>
		</div>
		
		
	</body>
</html>
<script>


	$("#dd").click(function(event){
		event.stopPropagation();
		$("#dadui").show(); 
		$('#dadui li').unbind('click'); 
		$("#dadui li").click(function(e){
			e.stopPropagation();
			var ht = $(this).html() ;
			$("#dd").val(ht);
			$("#dadui").hide();
			$.ajax({
				type : 'POST',
				url : '__APP__/Home/Admin/getGroups',
				data : {
					zfdwmc : ht,
				},
				dataType : 'json',
				timeout : 3000,
				success : function(data) {
					var str = '<li>全部</li>';
					for (var i = 0; i < data.length; i++) {
						str += '<li value="'+data[i]['SSZD']+'">'+data[i]['SSZD']+'</li>'
					};
					$("#zhongdui").hide();
					$('#zhongdui').html(str);

					//$('#chezu').html(str);
					$('#zd').val('--请选择--');
					$('#cz').val('--请选择--');
					
					 //console.log(data);
				}
			});
		})
	});
	$("#zd").click(function(event){
		event.stopPropagation();
		$("#zhongdui").show();
		var zhongdui = $("#zhongdui").html();
		
		$('#zhongdui li').unbind('click');
		$("#zhongdui li").click(function(){
			var sszd = $(this).html() ;
			$("#zhongdui").hide();
			$("#zd").val(sszd);
			var zfdwmc = $("#dd").val();
			$.ajax({
				type : 'POST',
				url : '__APP__/Home/Admin/getGroups',
				data : {
					zfdwmc : zfdwmc,
					sszd : sszd,
				},
				dataType : 'json',
				timeout : 3000,
				success : function(data) {
					var str = '<li>全部</li>';
					for (var i = 0; i < data.length; i++) {
						str += '<li value="'+data[i]['SSCZ']+'">'+data[i]['SSCZ']+'</li>'
					};
					$("#chezu").hide();
					$('#chezu').html(str);
					$('#cz').val('--请选择--');

					 //console.log(data);
				}
			});
		})
	});
	$("#cz").click(function(event){
		event.stopPropagation();
		$("#chezu").show();
		var chezu = $("#chezu").html();
		$('#chezu li').unbind('click');
		$("#chezu li").click(function(){
			$("#chezu").hide();
			var cz = $(this).html() ;
			$("#cz").val(cz);
		})
	});
	$("#hy").click(function(event){
		event.stopPropagation();
		
		$("#hangye").show();
		$("#hangye li").click(function(){
			var ht = $(this).html() ;
			$("#hy").val(ht);
			$("#hangye").hide();
		})
	})

	$(document).click(function(){
	    $("#dadui").hide();
	    $("#zhongdui").hide();
	    $("#chezu").hide();
	    $("#hangye").hide();
	});
</script>



<script type="text/javascript">
		//重新装载数据
	function loadData(){
        //获得查询参数
        var dd = $("#dd").val();
        var zd = $("#zd").val();
        var cz = $("#cz").val();
        var name = $("#name").val();//姓名
        var zfzh = $("#zfzh").val();//执法证号
        var sim =  $("#sim").val();
        function getParams(params){
            var driverNameReg = /^[\u4E00-\u9FA5]{1,6}$/;
            var cyzgReg = /^\w+$/;

            if(dd=='--请选择--'){
                dd = '';
            }
            if(zd=='--请选择--'){
                zd = '';
            }
            if(cz=='--请选择--'){
                cz = '';
            }
            if(name != ''){
                if (!driverNameReg.test(name)) {
                    layer.alert('请填写正确的姓名', {
                        skin: 'layui-layer-molv' //样式类名
                        ,closeBtn: 0
                    } )
                    return false;
                }
            }
            if(zfzh != ''){
                if (!cyzgReg.test(zfzh)) {
                    layer.alert('请填写正确的执法证号', {
                        skin: 'layui-layer-molv' //样式类名
                        ,closeBtn: 0
                    } )
                    return false;
                }
            }
            if(sim != ''){
                if (!cyzgReg.test(sim)) {
                    layer.alert('请填写正确的SIM卡号', {
                        skin: 'layui-layer-molv' //样式类名
                        ,closeBtn: 0
                    } )
                    return false;
                }
            }
            var temp  = {
                limit: params.limit,   //页面大小
                offset: params.offset,  //页码
                maxrows: params.limit,
                pageindex:params.pageNumber,
                dd:dd,
                zd:zd,
                cz:cz,
                zfzh:zfzh,
                name:name,
                sim:sim
            };
            return temp;
        }
		$('#table').bootstrapTable('refreshOptions',{pageNumber:1,queryParams:getParams});

	}
	//导出
	function ExportCsv(){
		var sex = $("#sex").val();
		var name = $("#name").val();
		var zfzh = $("#zfzh").val();
		var dd = $("#dd").val();
		if(dd=='--请选择--'){
			dd = '';
		}
		if(sex=='--请选择--'){
			sex = '';
		}
		var temp  = {
				sex:sex,
				name:name,
				zfzh:zfzh,
				dd:dd,
				offset: 0,  //页码
            	maxrows: 1,
		};
		$.getJSON("__APP__/Home/System/ajaxUserList",temp,function(json){
		    		//console.log(json);
		    if(json.total==0){
				layer.msg('数据为空,不能导出', {icon: 2});
			}else if(json.total > 10000){
				layer.msg('一次导出数据不能超过1万条，请修改查询条件', {icon: 2});
			}else{
				//alert(json.total);
				window.location.href = "__APP__/Home/ExportCsv/UserAllList?sex="+sex+"&name="+name+"&zfzh="+zfzh+"&dd="+dd;
			}
		});

	}
	$(function () {
		/****/
        //获得查询参数
        var dd = $("#dd").val();
        var zd = $("#zd").val();
        var cz = $("#cz").val();
        var name = $("#name").val();//姓名
        var zfzh = $("#zfzh").val();//执法证号
        var sim =  $("#sim").val();
        function getParams(params){
            var driverNameReg = /^[\u4E00-\u9FA5]{1,6}$/;
            var cyzgReg = /^\w+$/;

            if(dd=='--请选择--'){
                dd = '';
            }
            if(zd=='--请选择--'){
                zd = '';
            }
            if(cz=='--请选择--'){
                cz = '';
            }
            if(name != ''){
                if (!driverNameReg.test(name)) {
                    layer.alert('请填写正确的姓名', {
                        skin: 'layui-layer-molv' //样式类名
                        ,closeBtn: 0
                    } )
                    return false;
                }
            }
            if(zfzh != ''){
                if (!cyzgReg.test(zfzh)) {
                    layer.alert('请填写正确的执法证号', {
                        skin: 'layui-layer-molv' //样式类名
                        ,closeBtn: 0
                    } )
                    return false;
                }
            }
            if(sim != ''){
                if (!cyzgReg.test(sim)) {
                    layer.alert('请填写正确的SIM卡号', {
                        skin: 'layui-layer-molv' //样式类名
                        ,closeBtn: 0
                    } )
                    return false;
                }
            }
            var temp  = {
                limit: params.limit,   //页面大小
                offset: params.offset,  //页码
                maxrows: params.limit,
                pageindex:params.pageNumber,
                dd:dd,
                zd:zd,
                cz:cz,
                zfzh:zfzh,
                name:name,
                sim:sim
            };
            return temp;
        }
		var height = $(document).height();
		$('.center .center_left').css('min-height',height+150);

		$('#table').bootstrapTable({
	        url: '__APP__/Home/Admin/ajaxUserList',         //请求后台的URL（*）
            method: 'get',                      //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            queryParams: getParams,//传递参数（*）
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber:1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
            strictSearch: true,
            clickToSelect: true,                //是否启用点击选中行   
            height: false,                    //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "id",                     //每一行的唯一标识，一般为主键列
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            formatLoadingMessage: function () {
			    return "请稍等，正在加载中...";
			  },
			formatNoMatches: function () {  //没有匹配的结果
			    return '无符合条件的记录';
			},
            onLoadError: function (data) {
			    //console.log(data);
			 },  
            onLoadSuccess: function(data){  //加载成功时执行  
            	if(data.total==0 || data.total==null){
              		layer.alert('系统没有查询到任何记录！', {
						skin: 'layui-layer-molv' //样式类名
						,closeBtn: 0
					} );
					$('#table').bootstrapTable('removeAll');//清空数据表
					return false;
              	}else if(data==undefined||data==null){
              		layer.alert('服务器忙，稍后再查！', {
						skin: 'layui-layer-molv' //样式类名
						,closeBtn: 0
					} );
					$('#table').bootstrapTable('removeAll');//清空数据表
					return false;
              	}
       //      	$('#table').find('input[name="btSelectItem"]').each(function(){
			    // 	var value = $(this).attr('data-index');
			    // 	alert(value);
			    // })
              //layer.msg("加载成功"); 
              $('input[name="btSelectAll"],input[name="btSelectItem"]').click(function(){
			    	var str = '';
			    	var newstr = '';
			    	$('#nums').val('');
			    	$("tr.selected").each(function(e){
			    		
			    		str = $(this).children('td').eq(1).html();
			    		if(str&&str!='-'){
			    			newstr += str+',';
			    		}
			    		
			    	});
			    	newstr = newstr.substring(0,newstr.length-1);
			    	$('#nums').val(newstr);
			    }); 
            },
			onClickRow: function (row) {
				//console.log(row);
				//alert(row.JCBH);
				var str = '';
				var newstr = '';
				str = $('#nums').val();
				//alert(row.state);
				if(row.state == false || row.state == undefined){
					str = $('#nums').val();
					if(row.ZFZH){
						if(str){
							newstr = row.ZFZH+','+str+',';
						}else{
							newstr = row.ZFZH+','
						}
					}else{
						newstr = str+',';
					}
					
					
					//alert(newstr.substring(0,newstr.length-1));
					newstr = newstr.substring(0,newstr.length-1);
					//alert(newstr);
					
					
					//newstr = newstr.substring(0,newstr.Length-1);
				}else{
					var s = str.split(',');

					for(var i = 0;i<s.length;i++){
						
						if(s[i] == row.ZFZH){
							
							//alert(row.JCBH);
						}else{
							newstr += s[i]+',';
							//alert(newstr);
						}
						
					}
					newstr = newstr.substring(0,newstr.length-1);
				}
				
				
				$('#nums').val(newstr);
				/*if(row.state){
					//var str = '1122,33445,566';

				}*/
			    //window.location.href = "/qStock/qProInfo/" + row.ProductId;
			 },
	    });

	    $('#search_btn').bind('click',function(){
			loadData();
		});    

		$('.Add').bind('click',function(){
			var winBody = $('<div style="overflow: hidden;" closed="true"></div>');
			var ifr =$('<iframe width="100%" height="100%" frameborder="0" src="__APP__/Home/System/addUser"></iframe>');
			winBody.append(ifr);
			top.window.$('body').append(winBody);  
		    win=winBody.dialog({   
				title: "添加用户",
				width: 700,   
				modal: true,   
				shadow: false,   
				closed: true,  
				height: 500,
				draggable:true,
				maximizable:true,
				inline:true,    
				onDestroy:function(){   
					winBody.remove();
				},
				buttons:[{
					text:'提交',
					iconCls:'icon-ok',
					handler:function(){
						ifr[0].contentWindow.submit(_page,$);
					}
				}]
			}).panel('move',{
			    top:200
			});
			win.window('open');
		});
		$('.delAll').bind('click',function(){
	    	nums = $('#nums').val();
	    	if(nums==''){
	    		layer.alert('请选择删除项', {
					skin: 'layui-layer-molv' //样式类名
					,closeBtn: 0
				} )
				return false;
	    	}
	    	layer.confirm('确定删除麽', {
			   btn: ['确定', '取消'] //按钮
			},function(){
				//nums = $('#nums').val();
				$.getJSON("__APP__/Home/System/delUser",{"id":nums},function(json){
		    		//console.log(json);
					if(json.error == 0){
						loadData();
						layer.msg(json.msg, {icon: 1});
					}else{
						layer.msg(json.msg, {icon: 2});
					}
				});
			},function(){
				layer.msg('取消删除', {icon: 1});
			});
	    	
	    })
	    
	});

</script>

<script type="text/javascript">

	var _page = self; //当前页面
	var win = null; //弹出窗口
	////弹出窗口回调函数
	function closeWin(){
		if(win!=null){
			win.window('close');
		}
	}
	function openWin(){
		if(win!=null){
			win.window('open');
		}
	}
	function destroyWin(){
		if(win!=null){
			win.window('destroy');
		}
	}

	function actionFormatter(value, row, index) {
		//console.log(value);
		if(value==1){
			var val = '禁用';
		}else{
			var val = '<span style="color:orange;">启用</span>';
		}
	    return [
	        '<a class="view" href="javascript:void(0)" title="查看">',
	        '查看',
	        '</a>',
	        '<a class="edit ml10" href="javascript:void(0)" title="修改">',
	        '修改',
	        '</a>',
	        /*'<a class="tochange ml10" href="javascript:void(0)">',
	        val,
	        '</a>',*/
	        '<a class="remove ml10" href="javascript:void(0)" title="删除">',
	        '删除',
	        '</a>'
	    ].join('');
	}
	//时间换算
	function FormatterSTime(value, row, index){
		var val = $.myTime.UnixToDate(value/1000,true);
		return [
	        val
	    ].join('');
	}

	window.actionEvents = {
	    'click .edit': function (e, value, row, index) {
	    	
	    	eval("var param="+JSON.stringify(row));
	    	//console.log(param);
	    	var winBody = $('<div style="overflow: hidden;" closed="true"></div>');
			var ifr =$('<iframe width="100%" height="100%" frameborder="0" src="__APP__/Home/Admin/index_sim_update?zfzh='+param.ZFZH+'"></iframe>');
			winBody.append(ifr);
			top.window.$('body').append(winBody);  
		    win=winBody.dialog({   
				title: "SIM卡号修改",
				width: 800,   
				modal: true,   
				shadow: false,   
				closed: true,  
				height: 300,
				draggable:true,
				maximizable:true,
				inline:true,    
				onDestroy:function(){   
					winBody.remove();
				},
				buttons:[{
					text:'提交',
					iconCls:'icon-ok',
					handler:function(){
						ifr[0].contentWindow.submit(_page,$);
					}
				}]
			}).panel('move',{
			    top:200
			});
			win.window('open');
	        //alert('You click like icon, row: ' + JSON.stringify(row));
	        //console.log(value, row, index);
	    },
	    'click .view':function(e,value,row,index){
	    	eval("var param="+JSON.stringify(row));
	    	//console.log(param);

            var winBody = $('<div style="overflow: hidden;" closed="true"></div>');
            var ifr =$('<iframe width="100%" height="100%" frameborder="0" src="__APP__/Home/Admin/toSelectSim?zfzh='+param.ZFZH+'"></iframe>');
            winBody.append(ifr);
            top.window.$('body').append(winBody);  
            win=winBody.dialog({   
                title: "个人信息",
                width: 800,   
                modal: true,   
                shadow: false,   
                closed: true,  
                height: 400,
                draggable:true,
                maximizable:true,
                inline:true,    
                onDestroy:function(){   
                    winBody.remove();
                }
            }).panel('move',{
                top:200
            });
            win.window('open');
	    },
	    'click .tochange': function (e, value, row, index) {
	        //alert('You click edit icon, row: ' + JSON.stringify(row));
	        //console.log(value, row, index);
	        eval("var param="+JSON.stringify(row));
	        /*{"id":"1111112,0000000","Status":"1"}*/
	    	//console.log(param);
	    	layer.confirm('确定要'+(param.ZHZT=='1'?'禁用':'启用')+'该账号?', {icon: 3, title:'提示'}, function(index){
				  $.getJSON("__APP__/Home/Admin/casPerson",{"ZFZH":param.ZFZH,'cc':param.ZHZT==1?2:1},function(json){
		    		//console.log(json);
					if(json.err == 0){
						loadData();
						layer.msg(json.errorMsg, {icon: 1});
					}else{
						layer.msg(json.errorMsg, {icon: 2});
					}
				});
			  
			  layer.close(index);
			});
			
	    },
	    'click .remove': function (e, value, row, index) {
	    	eval("var param="+JSON.stringify(row));
	    	//console.log(param);
	    	layer.confirm('确定要删除该账号?', {icon: 3, title:'提示'}, function(index){
				  $.getJSON("__APP__/Home/Admin/delPerson",{"ZFZH":param.ZFZH},function(json){
		    		//console.log(json);
					if(json.err == 0){
						loadData();
						layer.msg(json.errorMsg, {icon: 1});
					}else{
						layer.msg(json.errorMsg, {icon: 2});
					}
				});
			  
			  layer.close(index);
			});
	        //alert('You click remove icon, row: ' + JSON.stringify(row));
	        //console.log(value, row, index);
	    }
	};



	//提示
	function showDiv(msgs,status){
		/*layer.alert(msg, {
			skin: 'layui-layer-molv' //样式类名
			,closeBtn: status
		});*/
		if(status==1){
			loadData();
		}
		layer.msg(msgs, {icon: status});
	}
</script>



