<!DOCTYPE html>
<html>
<head>

		<meta name="layout" content="main">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
		<title>稽查信息管理</title>
		<script src="__JS__/jquery.min-8.3.js" type="text/javascript"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=e8PNl3bInqrm8d3iOrsk6NKR"></script>
		<link rel="stylesheet" type="text/css" href="__JS__/chuan/easyui/themes/default/easyui.css">
		<link rel="stylesheet" type="text/css" href="__JS__/chuan/easyui/themes/icon.css">
		<script type="text/javascript" src="__JS__/chuan/easyui/jquery.easyui.min.js"></script>
		<script src="__JS__/chuan/easyui/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
		<!--  -->
		
		<link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/search.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/aduit.css"/>
		<script src="__JS__/layer/layer.js"></script>
		<script type="text/javascript" src="__JS__/laydate.js"></script>
		<link rel="stylesheet" type="text/css" href="__CSS__/query.css"/>
		<script src="__JS__/chuan/jquery.PrintArea.js" type="text/JavaScript" language="javascript"></script>
		
		<style type="text/css">
			.infos{
				position: absolute;
				z-index: 9999;
				left: 10px;
				top: 65px;
				font-size: 14px;
				padding: 0 3px; 
				padding-right: 10px;
				background-color: #888;
				color: white;
				line-height: 20px;
			}
			.infos p{padding: 3px 0;margin: 0;}
		    label{font-size:12px;}
		    h3{float:right;margin:4px 30px;line-height:40px;}
		    .log{background-color:#eee;border:1px solid #999;height:30px;line-height:30px;font-size:12px;padding:2px 20px;}
		    #snapImg{border:1px solid #666;margin-top:10px;height:650px;overflow:auto; text-align:center;}
		    .btn{background-color: #41C3D6;color: #ffffff;line-height: 25px;font-size: 22px;font-weight: 500;text-decoration: none;text-align: center; padding: 8px 6px 6px 0;border-radius: 5px;}
		        /*.btn:hover{background-color:#3B80EE}
				.inputtext{width:40px;}*/
			a{font-family: "黑体";}

			#div4,#div6{
				float: left;
		        width: 40px;
		        height: 20px;
		        border-radius: 50px;
		        position: relative;
		    }
		    #div5,#div7{
		        width: 16px;
		        height: 16px;
		        border-radius: 8px;
		        position: absolute;
		        background: white;
		        /*box-shadow: 0px 2px 4px rgba(0,0,0,0.4);*/
		    }
		    .open1{
		        background: #00b800;
		    }
		    .open2{
		        top: 2px;
		        right: 1px;
		    }
		    .close1{
		        background: #ccc;
		       /* border:3px solid rgba(0,0,0,0.15);
		        border-left: transparent;*/
		    }
		    .close2{
		        left: 0px;
		        top: 2px;
		        /*border:2px solid rgba(0,0,0,0.1);*/
		    }
		</style>
		
	</head>
	<body>
		
		<include file="Public:head" />
		
		<div class="center">
			<div class="center_left">
				<dl>
					<a href="{:U('Home/Aduit/aduit')}"><dt class="dldt border" >道路运输车辆轨迹查询</dt></a>
					<a href="{:U('Home/Aduit/road_position')}"><dt class="dldt" >道路运输行业车辆定位</dt></a>
				</dl>
			</div>
			<div class="center_right">

				
				<form action="##" method="post">	
				<div class="title_1 c-title">检索项</div>

				<div class="search_from msg-search" style="margin-top: 10px;height: 100%; width: 100%;">
					<dl style="position: relative">
						<dd>
							<div class="left">车牌号码</div>
							<div class="right">
								<input type="text" style="height:25px;" class="input" name="vName" id="vName" value="" />
							</div>
							<div class="clear"></div>
						</dd>
						<dd>
							<div class="left">起始时间</div>
							<div class="right">
								<input placeholder="请输入日期" name="startTime" class="easyui-datetimebox" style="height: 25px;width: 100%;position: relative;border: 1px solid #41C3D6;border-radius: 0;" id="demo" value="{$startDate}">
							</div>
							<div class="clear"></div>
						</dd>
						<dd>
							<div class="left">结束时间</div>
							<div class="right">
								<input placeholder="请输入日期" name="endTime" class="easyui-datetimebox" style="height: 25px;width: 100%;position: relative;border: 1px solid #41C3D6;border-radius: 0;" id="demo1" value="{$endDate}">
							</div>
							<div class="clear"></div>
						</dd>
						<div class="submit">			
							<input type="button" name="" id="search_btn" value="查询" />               
						</div>
						<div class="clear"></div>
					</dl>
					<div class="clear"></div>
				</div>
				<!-- <div class="submit">			
					<input type="button" name="" id="search_btn" value="查询" />                           
				</div> -->
				</form>

				<div style="margin-top:30px;margin-bottom:50px;">
					<div class="center_right_top table-responsive">
						<span>查询结果</span>
						<!-- <div class="delAll">删除选择项</div>
						<div class="clear"></div> -->
					</div>
					<!-- <iframe frameborder="0" id="aduit_map" src="aduit_map" width="100%" height="720px"></iframe> -->
						<div class="center_right_botton">
							<!--startprint6-->
							<div id="allmap" class="map" style="width: 100%; margin-top: 0px" ></div>
							<!--endprint6-->
							<div id="my_box" style="display:none;">

								<div id="infos" class="infos">
									<!-- <div style="float: left;margin-right: 5px;">规划轨迹</div>
									<div id="div4" class="close1" onclick="showline()">
									        <div id="div5" class="close2"></div>
									</div>
									<div style="clear:both;"></div> -->
									<div style="margin-top:0px;">
										<div style="float: left;margin-right: 5px;">规划方向</div>
										<div id="div6" class="close1" onclick="showdirection()">
										        <div id="div7" class="close2"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
							
						<div class="return">
							<input type="submit" onclick="preview(6)" name="" id="preview" class="submit" value="打印" /> 
						</div>
						<!-- <div class="return" style="margin-right: 15px">
							<a href="javascript:cutdemo();"><input type="submit" name="" id="" value="截图" /> </a>
						</div> -->
					</div>
						
				</div>
				<!-- =============结果====================== -->
				<div style="clear:both;"></div>
		</div>


	</body>
</html>


<script type="text/javascript">
Date.prototype.Format = function (fmt) { //author: meizz 
    var o = {
        "M+": this.getMonth() + 1, //月份 
        "d+": this.getDate(), //日 
        "h+": this.getHours(), //小时 
        "m+": this.getMinutes(), //分 
        "s+": this.getSeconds(), //秒 
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
        "S": this.getMilliseconds() //毫秒 
    };
    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (var k in o)
    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
    return fmt;
}
</script>

<script type="text/javascript">
    
  (function($) {
    $.extend({
        myTime: {
            /**
             * 当前时间戳
             * @return <int>        unix时间戳(秒)  
             */
            CurTime: function(){
                return Date.parse(new Date())/1000;
            },
            /**              
             * 日期 转换为 Unix时间戳
             * @param <string> 2014-01-01 20:20:20  日期格式              
             * @return <int>        unix时间戳(秒)              
             */
            DateToUnix: function(string) {
                var f = string.split(' ', 2);
                var d = (f[0] ? f[0] : '').split('-', 3);
                var t = (f[1] ? f[1] : '').split(':', 3);
                return (new Date(
                        parseInt(d[0], 10) || null,
                        (parseInt(d[1], 10) || 1) - 1,
                        parseInt(d[2], 10) || null,
                        parseInt(t[0], 10) || null,
                        parseInt(t[1], 10) || null,
                        parseInt(t[2], 10) || null
                        )).getTime() / 1000;
            },
            /**              
             * 时间戳转换日期              
             * @param <int> unixTime    待时间戳(秒)              
             * @param <bool> isFull    返回完整时间(Y-m-d 或者 Y-m-d H:i:s)              
             * @param <int>  timeZone   时区              
             */
            UnixToDate: function(unixTime, isFull, timeZone) {
                var timeZone = 8;
                if (typeof (timeZone) == 'number')
                {
                    unixTime = parseInt(unixTime) + parseInt(timeZone) * 60 * 60;
                }
                var time = new Date(unixTime * 1000);
                var ymdhis = "";
                ymdhis += time.getUTCFullYear() + "-";
                ymdhis += (time.getUTCMonth()+1) + "-";
                ymdhis += time.getUTCDate();
                if (isFull === true)
                {
                    ymdhis += " " + time.getUTCHours() + ":";
                    ymdhis += time.getUTCMinutes() + ":";
                    ymdhis += time.getUTCSeconds();
                }
                return ymdhis;
            }
        }
    });
})(jQuery);
</script>
<script type="text/javascript">
	
	function preview(oper){

		$("div#allmap").printArea();
	}
</script>


<script type="text/javascript">
function mystate(bm,o,sc){
		//var bm = new BMap.Map("allmap");
		ZoomControl.prototype = new BMap.Control();
		// 自定义控件必须实现initialize方法，并且将控件的DOM元素返回  
		// 在本方法中创建个div元素作为控件的容器，并将其添加到地图容器中  
		ZoomControl.prototype.initialize = function(map){  
		    // 创建一个DOM元素  
		    var div = document.createElement("div");
		    var div1 = document.createElement("div");
		    var div1_1 = document.createElement("div");
		    var div1_2 = document.createElement("div");
		    var div1_3 = document.createElement("div");

		    var div2 = document.createElement("div");
		    var div2_1 = document.createElement("div");
		    var div2_2 = document.createElement("div");
		    var div2_3 = document.createElement("div");
		    var div3 = document.createElement("div");
		    var div3_1 = document.createElement("div");
		    var div3_2 = document.createElement("div");
		    var div3_3 = document.createElement("div");
		    div.appendChild(div1);
		    div1.appendChild(div1_1);
		    div1.appendChild(div1_2);
		    div1.appendChild(div1_3);
		    div.appendChild(div2);
		    div2.appendChild(div2_1);
		    div2.appendChild(div2_2);
		    div2.appendChild(div2_3);
		    div.appendChild(div3);
		    div3.appendChild(div3_1);
		    div3.appendChild(div3_2);
		    div3.appendChild(div3_3);

		    // 添加文字说明  
		    div1_2.appendChild(document.createTextNode("实际轨迹"));  
		    //div2_2.appendChild(document.createTextNode("载客")); 
		    //div3_2.appendChild(document.createTextNode("参考轨迹")); 
		    // 设置样式  
		    div1.style.height = "10px";
		    div1.style.padding = "5px";
		    div1_1.style.width = "10px";
		    div1_1.style.height = "10px";
		    div1_1.style.float = "left";
		    div1_1.style.borderRadius = "10px";
		    div1_1.style.backgroundColor = "blue";
		    div1_2.style.float = "left";
		    div1_2.style.lineHeight = "10px";
		    div1_2.style.paddingLeft = "10px";
		    div1_3.style.clear = "both";


		  	/*div2.style.height = "10px";
		  	div2.style.padding = "5px";
		    div2_1.style.width = "10px";
		    div2_1.style.height = "10px";
		    div2_1.style.float = "left";
		    div2_1.style.borderRadius = "10px";
		    div2_1.style.backgroundColor = "#C58DBE";
		    div2_2.style.float = "left";
		    div2_2.style.lineHeight = "10px";
		    div2_2.style.paddingLeft = "10px";
		    div2_3.style.clear = "both";*/

		    /*div3.style.height = "10px";
		    div3.style.padding = "5px";
		    div3_1.style.width = "10px";
		    div3_1.style.height = "10px";
		    div3_1.style.float = "left";
		    div3_1.style.borderRadius = "10px";
		    div3_1.style.backgroundColor = "#1c59cc";
		    div3_2.style.float = "left";
		    div3_2.style.lineHeight = "10px";
		    div3_2.style.paddingLeft = "10px";
		    div3_3.style.clear = "both";*/

		      
		    div.style.backgroundColor = "#888"; 
		    div.style.color = "white";
		    div.style.padding = "10px";

		    //var div4=document.getElementById("div4");
        	//var div5=document.getElementById("div5");
        	var div6=document.getElementById("div6");
        	var div7=document.getElementById("div7");

        	/*if(o==1){
        		div4.className=(div4.className=="close1")?"open1":"close1";
          		div5.className=(div5.className=="close2")?"open2":"close2";
        	}else{
        		$('#div4').attr("class", "close1"); 
				$('#div5').attr("class", 'close2');
        	}*/
        	if(sc==1){
        		div6.className=(div6.className=="close1")?"open1":"close1";
          		div7.className=(div7.className=="close2")?"open2":"close2";
        	}else{
        		$('#div6').attr("class", "close1"); 
				$('#div7').attr("class", 'close2');
        	}
        	

		    // 绑定事件，点击一次放大两级  
		    /*div.onclick = function(e){  
		        map.zoomTo(map.getZoom() + 2);  
		    }*/  
		    // 添加DOM元素到地图中  
		    map.getContainer().appendChild(div);  
		    // 将DOM元素返回  
		    return div;  
		} 
		// 创建控件实例  
		var myZoomCtrl = new ZoomControl();  
		// 添加到地图当中  
		bm.addControl(myZoomCtrl);
	}
	// 定义一个控件类，即function  
	function ZoomControl(){  
	    // 设置默认停靠位置和偏移量  
	    this.defaultAnchor = BMAP_ANCHOR_TOP_LEFT;  
	    this.defaultOffset = new BMap.Size(10, 10);
	}
	function ZoomControl1(){  
	    // 设置默认停靠位置和偏移量  
	    this.defaultAnchor = BMAP_ANCHOR_BOTTOM_RIGHT;  
	    this.defaultOffset = new BMap.Size(10, 10);
	}
</script>

<script type="text/javascript">
	var newPoints=[];
	var bm = new BMap.Map("allmap");
	bm.centerAndZoom(new BMap.Point(116.403875,39.915168), 13);
	bm.enableScrollWheelZoom(true);

		$("#search_btn").click(function(){
			var newPoints=[];
			var bm = new BMap.Map("allmap");
			bm.centerAndZoom(new BMap.Point(116.403875,39.915168), 13);
			var top_right_navigation = new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_RIGHT, type: BMAP_NAVIGATION_CONTROL_SMALL});
			bm.addControl(top_right_navigation);
			bm.enableScrollWheelZoom(true);
			newPoints=[];
			bm.clearOverlays();
			mystate(bm,0,0);
			//根据原始数据计算中心坐标和缩放级别，并为地图设置中心坐标和缩放级别。  
			function setZoom(points){  
			    if(points.length>0){  
			        var maxLng = points[0].lng;  
			        var minLng = points[0].lng;  
			        var maxLat = points[0].lat;  
			        var minLat = points[0].lat;  
			        var res;  
			        for (var i = points.length - 1; i >= 0; i--) {  
			            res = points[i];  
			            if(res.lng > maxLng) maxLng =res.lng;  
			            if(res.lng < minLng) minLng =res.lng;  
			            if(res.lat > maxLat) maxLat =res.lat;  
			            if(res.lat < minLat) minLat =res.lat;  
			        };  
			        var cenLng =(parseFloat(maxLng)+parseFloat(minLng))/2;  
			        var cenLat = (parseFloat(maxLat)+parseFloat(minLat))/2;  
			        var zoom = getZoom(maxLng, minLng, maxLat, minLat);  
			        bm.centerAndZoom(new BMap.Point(cenLng,cenLat), zoom);    
			    }else{  
			        //没有坐标，显示全中国  
			        bm.centerAndZoom(new BMap.Point(103.388611,35.563611), 5);    
			    }   
			} 
			//根据经纬极值计算绽放级别。  
			function getZoom (maxLng, minLng, maxLat, minLat) {  
			    var zoom = ["50","100","200","500","1000","2000","5000","10000","20000","25000","50000","100000","200000","500000","1000000","2000000"]//级别18到3。  
			    var pointA = new BMap.Point(maxLng,maxLat);  // 创建点坐标A  
			    var pointB = new BMap.Point(minLng,minLat);  // 创建点坐标B  
			    var distance = bm.getDistance(pointA,pointB).toFixed(1);  //获取两点距离,保留小数点后两位  
			    for (var i = 0,zoomLen = zoom.length; i < zoomLen; i++) {  
			        if(zoom[i] - distance > 0){  
			            return 18-i+3;//之所以会多3，是因为地图范围常常是比例尺距离的10倍以上。所以级别会增加3。  
			        }  
			    };  
			} 

			var startTime = $("input[name='startTime']").val();
			var endTime = $("input[name='endTime']").val();
			var carNum = $("#vName").val().toUpperCase();

			if(startTime == ''|| endTime == ''){
				layer.alert('开始时间和结束时间不能为空', {
					skin: 'layui-layer-molv' //样式类名
					,closeBtn: 0
				} );
				return false; 
			}
			if(startTime >= endTime){
				layer.alert('开始时间不能大于结束时间', {
					skin: 'layui-layer-molv' //样式类名
					,closeBtn: 0
				} );
				return false; 
			}
			/*if(startTime >= (new Date()).Format("yyyy-MM-dd hh:mm:ss") || endTime > (new Date()).Format("yyyy-MM-dd hh:mm:ss")){
					layer.alert('请填写有效时间', {
						skin: 'layui-layer-molv' //样式类名
						,closeBtn: 0
					} );
				return false; 
			}*/
			if(($.myTime.DateToUnix(endTime)-$.myTime.DateToUnix(startTime))>60*60*24){
				layer.alert('有效时间不超过24小时', {
						skin: 'layui-layer-molv' //样式类名
						,closeBtn: 0
					} );
				return false; 
			}
			if($.trim(carNum) == '')
			{
				layer.alert('请填写车牌号', {
					skin: 'layui-layer-molv' //样式类名
					,closeBtn: 0
				} );
				return false; 
			}

	
			var vNameReg = /^[\u4e00-\u9fa5]{1}[A-Z]{1}[A-Z_0-9]{5}$/;
			if($.trim(carNum) != ''){
				if (!vNameReg.test($.trim(carNum))) {
					layer.alert('请填写正确的车牌号码', {
						skin: 'layui-layer-molv' //样式类名
						,closeBtn: 0
					} )
					return false;
				}
			}

				/*var index = layer.load(0, {
					shade: [0.5,'#fff'] //0.1透明度的白色背景
				});*/
				layer.msg('百度地图正在规划轨迹,请稍等..');
				$.post("{:U('Aduit/ajaxGetLinePoint')}",{startTime:startTime,endTime:endTime,carNum:carNum},function(results){
					//layer.closeAll('loading');
					//console.log(data);
					var json = results.gps;
					var json1 = results.gps1;
					//console.log(json1);
					var taxiInfo = results.info;

					//console.log(info);
					if(json==''||json==null)
					{
						layer.alert('没有查到该车辆信息', {
							skin: 'layui-layer-molv' //样式类名
							,closeBtn: 0
						} )
					}
					else
					{	
						
						var points = [];
						var vname = '';
						var arr = [];
						var points3 = [];
						for (var i = 0; i < json.length-1; i++) {
							if(i == 0){
								p_start = new BMap.Point(json[i].lon,json[i].lat);
								var startIcon = new BMap.Icon("__IMG__/qidian_hangye.png", new BMap.Size(26,34));
								var marker2 = new BMap.Marker(p_start,{icon:startIcon});  // 创建标注
								bm.addOverlay(marker2);
							}
							if(i === json.length-2){
								p_end = new BMap.Point(json[i+1].lon,json[i+1].lat);
								var endIcon = new BMap.Icon("__IMG__/zhongdian_hangye.png", new BMap.Size(26,34));
								var marker3 = new BMap.Marker(p_end,{icon:endIcon});  // 创建标注
								bm.addOverlay(marker3); 
							}

							var polyline = new BMap.Polyline([new BMap.Point(json[i].lon,json[i].lat),new BMap.Point(json[i+1].lon,json[i+1].lat)], {strokeColor:"blue", strokeWeight:5, strokeOpacity:1});   //创建折线#269548
							bm.addOverlay(polyline);

							if(i>0 && i<(json.length-2)){
								var p1 =  new BMap.Point(json[i].lon,json[i].lat);
								points.push(p1);
								//var Icons = new BMap.Icon("__IMG__/direction_biaoshi_other.png", new BMap.Size(8,8));
								var Icons = new BMap.Icon("__IMG__/quan.png", new BMap.Size(10,10));
								var markers = new BMap.Marker(new BMap.Point(json[i].lon,json[i].lat),{icon:Icons});  // 创建标注
								markers.VEHICLE_STATUS=json[i].VEHICLE_STATUS;
								markers.GPS_TIME=json[i].GPS_TIME;

								/*markers.setRotation(360-json[i].AZIMUTHS);
								bm.addOverlay(markers);*/

								//markers.GPS_TIME=v.GPS_TIME;
								//console.log(json[i]);
								markers.addEventListener("click",function(e){

									//var VEHICLE_STATUS = e.currentTarget.VEHICLE_STATUS;
									//console.log(VEHICLE_STATUS);
									var s = e.currentTarget.GPS_TIME;
									var taxi_time = s.substr(0, 4)+'年'+s.substr(4, 2)+'月'+s.substr(6, 2)+'日'+s.substr(8, 2)+'时'+s.substr(10, 2)+'分'+s.substr(12, 2)+'秒';
									layer.msg("车辆时间:"+taxi_time, "");
									/*if(VEHICLE_STATUS==0){
										var taxi_status = '空车';
										layer.msg("车辆状态:"+taxi_status+"<br/>车辆时间:"+taxi_time, "");
									}else if(VEHICLE_STATUS==1){
										var taxi_status = '重车';
										layer.msg("车辆状态:"+taxi_status+"<br/>车辆时间:"+taxi_time, "");
									}*/
									
									/*alert(taxi_status+taxi_time);*/
									
								});
								
								markers.setRotation(360-json[i].AZIMUTHS);
								bm.addOverlay(markers);
							}
							
							
						}

						//console.log(json[0]);

						
						//轨迹居中自适应大小
						setZoom(points);

						
						
						/*var polyline = new BMap.Polyline(points, {strokeColor:"#269548", strokeWeight:5, strokeOpacity:0.5});   //创建折线
						var polyline1 = new BMap.Polyline(points1, {strokeColor:"#C58DBE", strokeWeight:5, strokeOpacity:0.5});
						bm.addOverlay(polyline);   //增加折线
						bm.addOverlay(polyline1);*/
						//change(points)

						$('#infos').show();
						var html = $('#my_box').html();
						//alert(infos);
						$('#allmap').append(html);
						/*********************/
						ZoomControl1.prototype = new BMap.Control();
						// 自定义控件必须实现initialize方法，并且将控件的DOM元素返回  
						// 在本方法中创建个div元素作为控件的容器，并将其添加到地图容器中  
						ZoomControl1.prototype.initialize = function(map){  
						    // 创建一个DOM元素  
						    var div_b_r = document.createElement("div");
						    var p_b_r1 = document.createElement("p");
						    var p_b_r2 = document.createElement("p");
						    var p_b_r3 = document.createElement("p");
						    var p_b_r4 = document.createElement("p");
						    var p_b_r5 = document.createElement("p");
						    var p_b_r6 = document.createElement("p");
						    var p_b_r7 = document.createElement("p");

						    div_b_r.appendChild(p_b_r1);
						    div_b_r.appendChild(p_b_r2);
						    div_b_r.appendChild(p_b_r3);
						    div_b_r.appendChild(p_b_r4);
						    div_b_r.appendChild(p_b_r5);
						    div_b_r.appendChild(p_b_r6);
						    div_b_r.appendChild(p_b_r7);
						    /*div1.appendChild(div1_1);
						    div1.appendChild(div1_2);
						    div1.appendChild(div1_3);*/

						    // 添加文字说明  
						    p_b_r1.appendChild(document.createTextNode("车牌号："+taxiInfo.vname)); 
						    p_b_r2.appendChild(document.createTextNode("车辆型号："+taxiInfo.model));  
						    p_b_r3.appendChild(document.createTextNode("所属公司："+taxiInfo.corpName));
						    p_b_r4.appendChild(document.createTextNode("车辆颜色："+taxiInfo.color));
						    /*p_b_r5.appendChild(document.createTextNode("联系人："+taxiInfo.CONTACT));
						    p_b_r6.appendChild(document.createTextNode("电话："+taxiInfo.CONTACT_NUMBER));
						    p_b_r7.appendChild(document.createTextNode("立户号："+taxiInfo.LHH));*/
						    // 设置样式  
						    div_b_r.style.backgroundColor = "#f0f0f0"; 
						    div_b_r.style.color = "#000";
						    div_b_r.style.fontSize = "14px";
						    div_b_r.style.padding = "3px"; 

						    p_b_r1.style.margin = "0px";
						    p_b_r2.style.margin = "0px";
						    p_b_r3.style.margin = "0px";
						    p_b_r4.style.margin = "0px";
						    p_b_r5.style.margin = "0px";
						    p_b_r6.style.margin = "0px";
						    p_b_r7.style.margin = "0px";
						    // 添加DOM元素到地图中  
						    map.getContainer().appendChild(div_b_r);  
						    // 将DOM元素返回  
						    return div_b_r;  
						} 
						
						// 创建控件实例  
						var myZoomCtrl1 = new ZoomControl1();  
						// 添加到地图当中  
						bm.addControl(myZoomCtrl1);

						/***********************/
					}

				},'json')
			
		});



function showline(){
	//var div4=document.getElementById("div4");
    //var div5=document.getElementById("div5");
    var div6=document.getElementById("div6");
    var div7=document.getElementById("div7");
    //div4.className=(div4.className=="close1")?"open1":"close1";
    //div5.className=(div5.className=="close2")?"open2":"close2";

    if(div6.className=="close1"){
    	var md = 0;//关
    }else{
    	var md = 1;//开
    }
    my_line(0,md);
    /*if(div4.className=="close1"){
    	my_line(0,md);
    }else{
    	my_line(1,md);
    }*/
}

function showdirection(){
	var div6=document.getElementById("div6");
    var div7=document.getElementById("div7");
    //var div4=document.getElementById("div4");
    //var div5=document.getElementById("div5");
    div6.className=(div6.className=="close1")?"open1":"close1";
    div7.className=(div7.className=="close2")?"open2":"close2";
    /*if(div4.className=="close1"){
    	var ce = 0;//关
    }else{
    	var ce = 1;//开
    }*/
    var ce = 0;//关

    if(div6.className=="close1"){
    	my_line(ce,0);
    }else{
    	my_line(ce,1);
    }

}

function my_line(ce,md){
	//alert(md);
	var newPoints=[];
			var bm = new BMap.Map("allmap");
			bm.centerAndZoom(new BMap.Point(116.403875,39.915168), 13);
			var top_right_navigation = new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_RIGHT, type: BMAP_NAVIGATION_CONTROL_SMALL});
			bm.addControl(top_right_navigation);
			bm.enableScrollWheelZoom(true);
			newPoints=[];
			bm.clearOverlays();
			//alert(ce);

			if(md==1&&ce==1){
				mystate(bm,1,1);
				//$('#div4').attr("class", "open1"); 
				//$('#div5').attr("class", 'open2');
				$('#div6').attr("class", "open1"); 
				$('#div7').attr("class", 'open2');
			}else if(md==1&&ce==0){
				mystate(bm,0,1);
				//$('#div4').attr("class", "close1"); 
				//$('#div5').attr("class", 'close2');
				$('#div6').attr("class", "open1"); 
				$('#div7').attr("class", 'open2');
			}else if(md==0&&ce==1){
				mystate(bm,1,0);
				//$('#div4').attr("class", "open1"); 
				//$('#div5').attr("class", 'open2');
				$('#div6').attr("class", "close1"); 
				$('#div7').attr("class", 'close2');
			}else if(md==0&&ce==0){
				mystate(bm,0,0);
				//$('#div4').attr("class", "close1"); 
				//$('#div5').attr("class", 'close2');
				$('#div6').attr("class", "close1"); 
				$('#div7').attr("class", 'close2');
			}


			
			$('#infos').show();
			var html = $('#my_box').html();
			
			
			//alert(infos);
			$('#allmap').append(html);
			//根据原始数据计算中心坐标和缩放级别，并为地图设置中心坐标和缩放级别。  
			function setZoom(points){  
			    if(points.length>0){  
			        var maxLng = points[0].lng;  
			        var minLng = points[0].lng;  
			        var maxLat = points[0].lat;  
			        var minLat = points[0].lat;  
			        var res;  
			        for (var i = points.length - 1; i >= 0; i--) {  
			            res = points[i];  
			            if(res.lng > maxLng) maxLng =res.lng;  
			            if(res.lng < minLng) minLng =res.lng;  
			            if(res.lat > maxLat) maxLat =res.lat;  
			            if(res.lat < minLat) minLat =res.lat;  
			        };  
			        var cenLng =(parseFloat(maxLng)+parseFloat(minLng))/2;  
			        var cenLat = (parseFloat(maxLat)+parseFloat(minLat))/2;  
			        var zoom = getZoom(maxLng, minLng, maxLat, minLat);  
			        bm.centerAndZoom(new BMap.Point(cenLng,cenLat), zoom);    
			    }else{  
			        //没有坐标，显示全中国  
			        bm.centerAndZoom(new BMap.Point(103.388611,35.563611), 5);    
			    }   
			} 
			//根据经纬极值计算绽放级别。  
			function getZoom (maxLng, minLng, maxLat, minLat) {  
			    var zoom = ["50","100","200","500","1000","2000","5000","10000","20000","25000","50000","100000","200000","500000","1000000","2000000"]//级别18到3。  
			    var pointA = new BMap.Point(maxLng,maxLat);  // 创建点坐标A  
			    var pointB = new BMap.Point(minLng,minLat);  // 创建点坐标B  
			    var distance = bm.getDistance(pointA,pointB).toFixed(1);  //获取两点距离,保留小数点后两位  
			    for (var i = 0,zoomLen = zoom.length; i < zoomLen; i++) {  
			        if(zoom[i] - distance > 0){  
			            return 18-i+3;//之所以会多3，是因为地图范围常常是比例尺距离的10倍以上。所以级别会增加3。  
			        }  
			    };  
			} 
			var startTime = $("input[name='startTime']").val();
			var endTime = $("input[name='endTime']").val();
			var carNum = $("#vName").val();

			if(startTime == ''|| endTime == ''){
				layer.alert('开始时间和结束时间不能为空', {
					skin: 'layui-layer-molv' //样式类名
					,closeBtn: 0
				} );
				return false; 
			}
			if(startTime >= endTime){
				layer.alert('开始时间不能大于结束时间', {
					skin: 'layui-layer-molv' //样式类名
					,closeBtn: 0
				} );
				return false; 
			}
			/*if(startTime >= (new Date()).Format("yyyy-MM-dd hh:mm:ss") || endTime > (new Date()).Format("yyyy-MM-dd hh:mm:ss")){
					layer.alert('请填写有效时间', {
						skin: 'layui-layer-molv' //样式类名
						,closeBtn: 0
					} );
				return false; 
			}*/
			if(($.myTime.DateToUnix(endTime)-$.myTime.DateToUnix(startTime))>60*60*24){
				layer.alert('有效时间不超过24小时', {
						skin: 'layui-layer-molv' //样式类名
						,closeBtn: 0
					} );
				return false; 
			}
			if($.trim(carNum) == '')
			{
				layer.alert('请填写车牌号', {
					skin: 'layui-layer-molv' //样式类名
					,closeBtn: 0
				} );
				return false; 
			}

	
			var vNameReg = /^[\u4e00-\u9fa5]{1}[A-Z]{1}[A-Z_0-9]{5}$/;
			if($.trim(carNum) != ''){
				if (!vNameReg.test($.trim(carNum))) {
					layer.alert('请填写正确的车牌号码', {
						skin: 'layui-layer-molv' //样式类名
						,closeBtn: 0
					} )
					return false;
				}
			}
				layer.msg('百度地图正在规划轨迹,请稍等..');
				/*var index = layer.load(0, {
					shade: [0.5,'#fff'] //0.1透明度的白色背景
				});*/
				$.post("{:U('Aduit/ajaxGetLinePoint')}",{startTime:startTime,endTime:endTime,carNum:carNum},function(results){
					//console.log(results);
					json = results.gps;
					json1 = results.gps1;
					//console.log(json1);
					taxiInfo = results.info;
					bm.clearOverlays();
					//layer.closeAll('loading');
					if(json==''||json==null){
						layer.alert('你查询的区域没有数据', {
							skin: 'layui-layer-molv' //样式类名
							,closeBtn: 0
						} );
						//layer.closeAll("loading");
					}else{
						//layer.msg('百度地图正在规划轨迹,请稍等..');
						/**/
						var points = [];
						var vname = '';
						var arr = [];
						var points3 = [];
						//console.log(json);
						

						for (var i = 0; i < json.length-1; i++) {
							if(i == 0){
								p_start = new BMap.Point(json[i].lon,json[i].lat);
								var startIcon = new BMap.Icon("__IMG__/qidian_hangye.png", new BMap.Size(26,34));
								var marker2 = new BMap.Marker(p_start,{icon:startIcon});  // 创建标注
								bm.addOverlay(marker2);
							}
							if(i === json.length-2){
								p_end = new BMap.Point(json[i+1].lon,json[i+1].lat);
								var endIcon = new BMap.Icon("__IMG__/zhongdian_hangye.png", new BMap.Size(26,34));
								var marker3 = new BMap.Marker(p_end,{icon:endIcon});  // 创建标注
								bm.addOverlay(marker3); 
							}
							//console.log(json[i]);
							/*if((json[i].VEHICLE_STATUS==0 && json[i+1].VEHICLE_STATUS==0)||(json[i].VEHICLE_STATUS==0 && json[i+1].VEHICLE_STATUS==1)){
								//console.log(json[i].lon,json[i].lat);
								var polyline = new BMap.Polyline([new BMap.Point(json[i].lon,json[i].lat),new BMap.Point(json[i+1].lon,json[i+1].lat)], {strokeColor:"#269548", strokeWeight:5, strokeOpacity:1});   //创建折线#269548
								bm.addOverlay(polyline);
							}else if((json[i].VEHICLE_STATUS==1 && json[i+1].VEHICLE_STATUS==1)||(json[i].VEHICLE_STATUS==1 && json[i+1].VEHICLE_STATUS==0)){
								var polyline1 = new BMap.Polyline([new BMap.Point(json[i].lon,json[i].lat),new BMap.Point(json[i+1].lon,json[i+1].lat)], {strokeColor:"#C58DBE", strokeWeight:5, strokeOpacity:1});   //创建折线
								bm.addOverlay(polyline1);
							}*/
							var polyline = new BMap.Polyline([new BMap.Point(json[i].lon,json[i].lat),new BMap.Point(json[i+1].lon,json[i+1].lat)], {strokeColor:"blue", strokeWeight:5, strokeOpacity:1});   //创建折线#269548
								bm.addOverlay(polyline);

							if(i>1 && i<(json.length-2)){
								var p1 =  new BMap.Point(json[i].lon,json[i].lat);
								points.push(p1);
								
								if(md==1){
									var Icons = new BMap.Icon("__IMG__/direction_biaoshi_other.png", new BMap.Size(8,8));
								}else{
									var Icons = new BMap.Icon("__IMG__/quan.png", new BMap.Size(10,10));
								}
								//
								
								var markers = new BMap.Marker(new BMap.Point(json[i].lon,json[i].lat),{icon:Icons});  // 创建标注
								markers.VEHICLE_STATUS=json[i].VEHICLE_STATUS;
								markers.GPS_TIME=json[i].GPS_TIME;

								/*markers.setRotation(360-json[i].AZIMUTHS);
								bm.addOverlay(markers);*/
								markers.addEventListener("click",function(e){

									//var VEHICLE_STATUS = e.currentTarget.VEHICLE_STATUS;
									//console.log(VEHICLE_STATUS);
									var s = e.currentTarget.GPS_TIME;
									var taxi_time = s.substr(0, 4)+'年'+s.substr(4, 2)+'月'+s.substr(6, 2)+'日'+s.substr(8, 2)+'时'+s.substr(10, 2)+'分'+s.substr(12, 2)+'秒';
									layer.msg("车辆时间:"+taxi_time, "");
									/*if(VEHICLE_STATUS==0){
										var taxi_status = '空车';
										layer.msg("车辆状态:"+taxi_status+"<br/>车辆时间:"+taxi_time, "");
									}else if(VEHICLE_STATUS==1){
										var taxi_status = '重车';
										layer.msg("车辆状态:"+taxi_status+"<br/>车辆时间:"+taxi_time, "");
									}*/
									
									//alert(taxi_status+taxi_time);
									
								});
								markers.setRotation(360-json[i].AZIMUTHS);
								bm.addOverlay(markers);
							}
							
							
							
							
						}

						if(ce==1){
							for (var j = 0; j < json1.length-1; j++) {
								var str1 = json1[j];
								var str2 = json1[j+1];
								arr[j] = str1.split(",");
								arr[j+1] = str2.split(",");
								var polyline2 = new BMap.Polyline([new BMap.Point(arr[j][0],arr[j][1]),new BMap.Point(arr[j+1][0],arr[j+1][1])], {strokeColor:"#1c59cc", strokeWeight:3, strokeOpacity:1});   //创建折线#ff0000
								//console.log(polyline2);
								bm.addOverlay(polyline2);

								if(arr[j][2]){
									var p3 =  new BMap.Point(arr[j][0],arr[j][1]);
									points3.push(p3);
									var Icons3 = new BMap.Icon("__IMG__/direction_biaoshi.png", new BMap.Size(8,8));
									var markers3 = new BMap.Marker(new BMap.Point(arr[j][0],arr[j][1]),{icon:Icons3});  // 创建标注
									markers3.setRotation(360-arr[j][2]);
									bm.addOverlay(markers3);
								}
								
							}
						}
						//轨迹居中自适应大小
						
						setZoom(points);
						//
						/*infos = "<p>车牌号："+taxiInfo.PLATE_NO+"</p><p>车辆型号："+taxiInfo.MODEL+"</p><p>所属公司："+taxiInfo.NAME+"</p><p>车辆颜色："+taxiInfo.COLOR+"</p><p>联系人："+taxiInfo.CONTACT+"</p><p>电话："+taxiInfo.CONTACT_NUMBER+"</p><p>立户号："+taxiInfo.LHH+"</p>";*/

						
						/*********************/
						ZoomControl1.prototype = new BMap.Control();
						// 自定义控件必须实现initialize方法，并且将控件的DOM元素返回  
						// 在本方法中创建个div元素作为控件的容器，并将其添加到地图容器中  
						ZoomControl1.prototype.initialize = function(map){  
						    // 创建一个DOM元素  
						    var div_b_r = document.createElement("div");
						    var p_b_r1 = document.createElement("p");
						    var p_b_r2 = document.createElement("p");
						    var p_b_r3 = document.createElement("p");
						    var p_b_r4 = document.createElement("p");
						    var p_b_r5 = document.createElement("p");
						    var p_b_r6 = document.createElement("p");
						    var p_b_r7 = document.createElement("p");

						    div_b_r.appendChild(p_b_r1);
						    div_b_r.appendChild(p_b_r2);
						    div_b_r.appendChild(p_b_r3);
						    div_b_r.appendChild(p_b_r4);
						    div_b_r.appendChild(p_b_r5);
						    div_b_r.appendChild(p_b_r6);
						    div_b_r.appendChild(p_b_r7);
						    /*div1.appendChild(div1_1);
						    div1.appendChild(div1_2);
						    div1.appendChild(div1_3);*/

						    // 添加文字说明  
						    p_b_r1.appendChild(document.createTextNode("车牌号："+taxiInfo.vname)); 
						    p_b_r2.appendChild(document.createTextNode("车辆型号："+taxiInfo.model));  
						    p_b_r3.appendChild(document.createTextNode("所属公司："+taxiInfo.corpName));
						    p_b_r4.appendChild(document.createTextNode("车辆颜色："+taxiInfo.color));
						    // 设置样式  
						    div_b_r.style.backgroundColor = "#f0f0f0"; 
						    div_b_r.style.color = "#000";
						    div_b_r.style.fontSize = "14px";
						    div_b_r.style.padding = "3px"; 

						    p_b_r1.style.margin = "0px";
						    p_b_r2.style.margin = "0px";
						    p_b_r3.style.margin = "0px";
						    p_b_r4.style.margin = "0px";
						    p_b_r5.style.margin = "0px";
						    p_b_r6.style.margin = "0px";
						    p_b_r7.style.margin = "0px";
						    // 添加DOM元素到地图中  
						    map.getContainer().appendChild(div_b_r);  
						    // 将DOM元素返回  
						    return div_b_r;  
						} 
						
						// 创建控件实例  
						var myZoomCtrl1 = new ZoomControl1();  
						// 添加到地图当中  
						bm.addControl(myZoomCtrl1);

		/***********************/
						
					}

				},'json');
}

</script>

<script  type="text/javascript" >
	$(document).ready( function(){
		var height = $(document).height();
		$('.center .center_left').css('min-height',height-150);

	});

</script>

