<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>道路运输行业现场稽查系统</title>
		<link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/search.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/aduit.css"/>
		<script src="__JS__/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="__JS__/laydate.js"></script>
		<script src="__JS__/jquery.min-8.3.js" type="text/javascript"></script>
		<script src="__JS__/layer/layer.js"></script>

		<script type="text/javascript" src="http://101.200.176.10/lib/easyui/jquery.easyui.min.js"></script>

		<link rel="stylesheet" type="text/css" href="__CSS__/query.css"/>
<style type="text/css">
.info{
	width: 600px;
	margin:20px auto;
}
.info tr{

	height: 35px;
}
.td-left{
	border-right: 1px solid #CDCDCD;
}
.font-tr{
	width: 300px;
}
.sub-title{
	text-indent: 22px;
	color: #fff;
	background-color: #41C3D6;
}
 input[type="text"]{
	width: 99%;
    height: 100%;
}
.laydate-icon.input{
	height: 27px;
    width: 280px;
    line-height: 27px;
}
</style>
	</head>
	<body>

		
		<form id="form1" method="post" enctype="multipart/form-data">
			<input type="hidden" name="id" value="{$id}">
		<div class="center">
				<div class="info">
					
					<table border="1" cellspacing="0" cellpadding="">
						<tr>
								<td align="left" colspan="2" class="sub-title">
										添加角色分类
								</td>
							</tr>
							<tr class="color">
								<td align="center" class="font-tr td-left" >角色分类：</td>
								<td align="center" class="font-tr" >
									<input type="text" name="rolename" value="{$rolename}" />
								</td>
							</tr>
							<tr style="height: 100px;">
								<td align="center" class="font-tr td-left" >分类说明：</td>
								<td align="center" class="font-tr" >
									<textarea name="desc" style="width: 98%;height: 100%;">{$desc}</textarea>
								</td>
							</tr>
						
					</table>

		</div>
	</div>
	</form>


		<script type="text/javascript">
			function submit(_page,jq){
				_page.closeWin();
				$('#form1').form('submit',{
					url:"__APP__/Home/System/ajaxeditRoleStyle",
					onSubmit: function(){
						var isValid = $('#form1').form('validate');
						return isValid;
					},
				    success: function(data){
					    	eval("var json ="+data);
					    	console.log(json);
					    	if(json.error == 0){
								parent.window.showDiv('恭喜！'+json.msg,1);
					    		//_page.destroyWin();
					    	}else{
					    		
								parent.window.showDiv('错误！'+json.msg,2);
					    	}
			    		}
				});
			}
		</script>
		
	</body>
</html>




